.startBtn{
  display: block;
}
//
// #canvas{
//   border: solid 1px black;
//   height:600px;
//   width:500px;
//   display:block;
//   margin: 0 auto;
// }

//main block
.rectangle{
  width:100px;
  height:50px;
  background:black;

}

.blue {
  background-color: blue;
}

ul li{
  list-style: none;
}


//blue block
.blue-block{
  width:100px;
  height:50px;
  background:blue;
}
//light blue block
.light-blue-block{
  width:100px;
  height:50px;
  background:lightblue;
}
//     }//light-blur-block id
//
// } //blue-block id
//
// }//rectangle id
//main
