/* start button */
.startBtn{
  display: block;
}

section{
  border: solid 2px black;
  height:600px;
  width:500px;
  margin: 0 auto;
}

/* main block*/
#rectangle{
   width: 100px;
   height: 50px;
   background:lightblue;
   margin: 549px auto;
   border-style: none;
}

#rectangle.blue{
  background:blue;
}

/* button list */
ul li{
  list-style: none;
}

/* blue-block */
.blue-block {
  width:100px;
  height:50px;
  background:blue;
  position: absolute;
    top: 184px;
    transition: top 1s linear;
    transform: rotate(90deg);
    margin: 0;
    left: 44%;
}

 /*light-blue-block*/
.light-blue-block {
  width: 100px;
  height: 50px;
  background: lightblue;
  position: absolute;
    top: 184px;
    transition: top 1s linear;
    transform:rotate(90deg);
    margin: 0;
    left: 44%;
}

/*.blue-block2 {
  width:100px;
  height:50px;
  background:blue;
  position: absolute;
    top: 184px;
    transition: top 1s linear;
    transform: rotate(90deg);
    margin: 0;
    left: 44%;
}

.light-blue-block2 {
  width:100px;
  height:50px;
  background:lightblue;
  position: absolute;
    top: 184px;
    transition: top 1s linear;
    transform: rotate(90deg);
    margin: 0;
    left: 44%;
}

.blue-block3 {
  width:100px;
  height:50px;
  background:blue;
  position: absolute;
    top: 184px;
    transition: top 1s linear;
    transform: rotate(90deg);
    margin: 0;
    left: 44%;
}

.light-blue-block3 {
  width:100px;
  height:50px;
  background:lightblue;
  position: absolute;
    top: 184px;
    transition: top 1s linear;
    transform: rotate(90deg);
    margin: 0;
    left: 44%;
}*/

.drop-down {
  top: 633px;
  transition: top 1s linear 1s;
}
