


#rectangle{  //main block
    width:100px;
    height:50px;
    background:black;

}

//     #blue-block{ //blue block
//       width:100px;
//       height:50px;
//       background:blue;
// }
//     #light-blue-block{ //light blue block
//       width:100px;
//       height:50px;
//       background:lightblue;
// }
//     }//light-blur-block id
//
// } //blue-block id
//
// }//rectangle id
//main
