/* start button */
.startBtn{
  display: block;
}

section{
  border: solid 2px black;
  height:600px;
  width:500px;
  margin: 0 auto;
}

/* main block*/
#rectangle{
   width: 100px;
   height: 50px;
   background:lightblue;
   margin: 549px auto;
   border-style: none;
}

#rectangle.blue{
  background: blue;
}

/* button list */
ul li{
  list-style: none;
}

/* blue-block */
.blue-block {
  width:100px;
  height:50px;
  background:blue;
  position: absolute;
    top: -175px;
    transition: top 1s linear;
    transform: rotate(90deg);
    margin: 0;
    left: 40%;
    opacity: 1;
}

 /*light-blue-block*/
.light-blue-block {
  width: 100px;
  height: 50px;
  background: lightblue;
  position: absolute;
    top: -175px; /*184*/
    transition: top 1s linear;
    transform:rotate(90deg);
    margin: 0;
    left: 40%;
    opacity: 1;
}

.drop-down {
  top: 474px;
  opacity: 1;
  transition: top 1s linear 1s;
}

.points {
  position: absolute;

}

#block-container {
  position: relative;
  overflow: hidden;
}
