/*Style for the start page*/
body{
  background: #fff;
  color: #2980b9;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  padding: 2rem;
}

.text-block {
  left: 50%;
  margin-top: -20px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.text-block h1 {
  font-size: 80px;
  font-weight: 900;
  letter-spacing: .15em;
  line-height: 1.1;
  margin: .2em 0;
  text-transform: uppercase;
  text-shadow: 0 0 0 blue, 1px 1px blue, 2px 2px blue, 3px 3px blue, 4px 4px blue, 5px 5px blue, 6px 6px blue;
}
/* Style for the modal*/
/** {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

/*html,
body {
  height: 100%;
}*/

.container {
  display: table;
  width: 100%;
  height: 100%;
}

.interior {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/*body {
  font:'Ubuntu';
  padding: 2rem;
  /*background-color: #2980b9;*/
/*}*/


.btn2 {
  background-color: #fff;
  padding: 1em 3em;
  border-radius: 3px;
  color: #2980b9;
  text-decoration: none;
}

.btn {
  background-color: #fff;
  padding: 1em 3em;
  border-radius: 3px;
  color: #2980b9;
  text-decoration: none;
}


.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
